{% extends "page.html" %}

{% block secondary_content %}
    <section class="module module-narrow module-shallow">

        <div class="module-content">
            <p class="action">
                <a class="btn full-width" href="{{ h.url_for('apps_app_add', came_from=h.full_current_url()) }}">{% trans %}Create Application{% endtrans %}</a>
            </p>
        </div>

        {% if c.userobj.sysadmin %}
            <div class="module-content">
                <p class="action">
                  <a class="btn full-width" href="{{ h.url_for('apps_board_add') }}">{% trans %}Create Section{% endtrans %}</a>
                </p>
            </div>
        {% endif %}
    </section>

    <section class="module module-narrow module-shallow">
        <div class="module-content">
            <a href="{{ h.url_for('apps_index') }}"><i class="fa fa-rocket "></i>{% trans %}All Applications{% endtrans %}</a>
        </div>
        {% if c.userobj.sysadmin %}
        <div class="module-content">
            <a href="{{ h.url_for('apps_activity') }}"><i class="fa fa-clock-o "></i>{% trans %}Activity{% endtrans %}</a>
        </div>
        {% endif %}
        <h2 class="module-heading">{% trans %}Choose a Section{% endtrans %}</h2>
        <div class="module-content">
            {% for board in board_list %}
                <div class="thread-section">
                        {% if board.active %}
                            {% if c.userobj.sysadmin %}
                            <a class="action" href="{{ h.url_for('apps_board_hide', slug=board.slug) }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></a>
                            {% endif %}
                            <a href="{{ board.get_absolute_url() }}">{{ board.name }}</a>
                        {% else %}
                            {% if c.userobj.sysadmin %}
                            <a class="action" href="{{ h.url_for('apps_board_unhide', slug=board.slug) }}"><i class="fa fa-square-o" aria-hidden="true"></i></a>
                            <a class="muted" href="{{ board.get_absolute_url() }}">{{ board.name }}</a>
                            {% endif %}
                        {% endif %}
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}