{% extends "apps_base.html" %}

{% block title %}{% trans %}Applications{% endtrans %} {{ g.template_title_deliminater }} {{ h.get_site_title() }}{% endblock %}


{% block primary_content %}
    <h1 class="page-heading">{% trans %}Applications{% endtrans %}</h1>
    <div class="app-list">
        {% for app in apps_list %}
            <div class="app-thread media">
                <div class="media-left pull-left app-avatar">
                    <a href="{{ app.get_absolute_url() }}" >
                      <div class="image" style="background-image:url({{ h.url_for_static('/uploads/apps/'+app.image_url) if app.image_url else h.url_for_static('/images/app-default-logo.png') }})"></div>
                    </a>
                </div>
                <div class="media-body app-thread-body">
                    <h3 class="thread-heading">
                            <a href="{{ app.get_absolute_url() }}">{{ app.name }}</a>
                    </h3>
                    <div class="thread-meta">
                        <div class="thread-section">
                            <a href="{{ app.board.get_absolute_url() }}">{{ app.board.name }}</a>
                        </div>
                        <div class="app-list-rating">
                            Рейтинг:
                            <div class="br-wrapper br-theme-fontawesome-stars">
                                <div class="br-widget">
                                    {% for rate in [1, 2, 3, 4, 5] %}
                                      <a href="{{ h.url_for('apps_app_set_mark', id=app.id, rate=rate) }}" data-rating-value="{{ rate }}" data-rating-text="{{ rate }}" {% if rate <= app.get_rate() %}class="br-selected br-current"{%endif%}></a>
                                    {% endfor %}
                                    <div class="br-current-rating">{{ app.get_rate() }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thread-body" data-thread-url="">
                        <a href="{{ app.get_absolute_url() }}">{{ h.render_markdown(app.content)|striptags|truncate }}</a>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    {% if total_pages > 1 %}
    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if current_page > 1 %}
                <li>
                    <a href="?page={{ current_page - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                {% endif %}

                {% for page in range(1, total_pages + 1, 1) %}
                <li {% if page == current_page %}class="active"{% endif %}>
                    <a href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}

                {% if current_page < total_pages %}
                <li>
                    <a href="?page={{ current_page + 1 }}" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
{% endblock %}


