{% extends "apps_base.html" %}

{% block title %}{% trans %}Activity{% endtrans %} - {% trans %}Applications{% endtrans %} | Data.gov.ua {% endblock %}

{% block primary_content %}
    <h1 class="page-heading">{{ _('Activity') }}</h1>
    <ul class="{% block resource_list_class %}resource-list{% endblock %} forum-activity">
        {% for act in activity %}
            <li class="resource-item" data-id="{{ act.id }}">
                <a class="heading" href="{{ act.url }}" title="{{ act.name }}">
                    {{ act.name }}
                </a>
                <p class="description">{{ h.markdown_extract(act.content, extract_length=100) }}</p>
                <a href="{{ h.url_for(controller='user', action='read', id=act.author_name) }}">
                    {{ act.author_name }}
                </a> {{ h.time_ago_from_timestamp(act.created) }}
                <div class="dropdown btn-group">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {{ act.status }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for status in statuses %}
                          {% if status != act.status %}
                            <li>
                                <a href="{{ h.url_for('apps_change_status', id=act.id, status=status) }}">
                                    <i class="fa fa-bar-chart-o"></i>
                                    {{ status }}
                                </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                    </ul>
            </li>
        {% endfor %}
    </ul>
    {% if total_pages > 1 %}
    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if current_page > 1 %}
                <li>
                    <a href="?page={{ current_page - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                {% endif %}

                {% for page in range(1, total_pages + 1, 1) %}
                <li {% if page== current_page %}class="active" {% endif %}>
                    <a href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}

                {% if current_page < total_pages %}
                <li>
                    <a href="?page={{ current_page + 1 }}" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
{% endblock %}
