{% extends "apps_base.html" %}

{% block title %}{% trans %}Reject the Application{% endtrans %} - {% trans %}Applications{% endtrans %} {{ g.template_title_deliminater }} {{ g.site_title }}{% endblock %}

{% block primary_content %}
    <div class="thread-post">
        <h1 class="page-heading">{% trans %}Reject the Application{% endtrans %}</h1>

        <form id="thread-form" data-toggle="validator" role="form" method="post">
            {{ form.csrf_token }}

            <div class="form-group forum-title-group">
                <label>{% trans %}Comment{% endtrans %}</label>
                <input type="text" placeholder="" class="form-control"
                       name="closed_message" data-msg-required="{% trans %}You can attach a message regarding the application before rejecting it{% endtrans %}." value="{{ form.closed_message.data or '' }}" required>
                {% if form.closed_message.errors %}
                    <div class="help-block with-errors alert-error">
                        {% for error in form.closed_message.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="post-footer">
                <button type="submit" class="btn btn-primary">{% trans %}Reject the Application{% endtrans %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
        {{ super() }}  
        {% resource 'forum/javascript/autosize.js' %}
        {% resource 'forum/javascript/jquery.validate.js' %}     
        {% resource 'forum/javascript/forms_validate.js' %}
{% endblock %}
