{% extends "apps_base.html" %}

{% block title %}{% trans %}Create Section{% endtrans %} - {% trans %}Applications{% endtrans %} {{ g.template_title_deliminater }} {{ g.site_title }}{% endblock %}

{% block primary_content %}
    <div class="thread-post">
        <h1 class="page-heading">{% trans %}Create Section{% endtrans %}</h1>

        <form id="thread-form" data-toggle="validator" role="form" method="post" class="prevent-ds">
            {{ form.csrf_token }}

            <div class="form-group forum-title-group">
                <label>{% trans %}Provide a Title{% endtrans %}</label>
                <input type="text" placeholder="" class="form-control"
                       name="name" data-msg-required="{% trans %}Please fill out the title field{% endtrans %}" value="{{ form.name.data or '' }}" required>
                {% if form.name.errors %}
                    <div class="help-block with-errors">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group forum-title-group">
                <label>{% trans %}Slug{% endtrans %}</label>
                <input type="text" placeholder="{% trans %}Only latin characters, digits and a hyphen{% endtrans %}" class="form-control"
                       name="slug" data-msg-required="{% trans %}Please provide the slug{% endtrans %}" value="{{ form.slug.data or '' }}" required>
                {% if form.slug.errors %}
                    <div class="help-block with-errors">
                        {% for error in form.slug.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>


            <div class="post-footer">
                <button type="submit" class="btn btn-primary">{% trans %}Publish{% endtrans %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
        {{ super() }}  
        {% resource 'forum/javascript/autosize.js' %}
        {% resource 'forum/javascript/jquery.validate.js' %}     
        {% resource 'forum/javascript/forms_validate.js' %}
{% endblock %}
