{% extends "apps_base.html" %}

{% block title %}{% if app %}{{ app.name }} - {% endif %}{% trans %}Applications{% endtrans %} {{ g.template_title_deliminater }} {{ g.site_title }}{% endblock %}


{% block primary_content %}
  <div class="app-wrapper">
    <div class="app-head">
      <div class="app-meta">
        <div class="media-left pull-left app-avatar">
            <div class="image" style="background-image:url({{ h.url_for_static('/uploads/apps/'+app.image_url) if app.image_url else h.url_for_static('/images/app-default-logo.png') }})"></div>
        </div>
        <div class="media-body app-thread-body">
          <h2 class="thread-heading">{{ app.name }}</h2>
          <div class="thread-meta">
            <div class="thread-section"><a href="#">{{ app.board.name }}</a></div>

            <div class="app-list-rating">{% trans %}Rating{% endtrans %}:
              <div class="br-wrapper br-theme-fontawesome-stars">
                <div class="br-widget">
                  {% for rate in [1, 2, 3, 4, 5] %}
                    <a href="{{ h.url_for('apps_app_set_mark', id=app.id, rate=rate) }}" data-rating-value="{{ rate }}" data-rating-text="{{ rate }}" {% if rate <= app.get_rate() %}class="br-selected br-current"{%endif%}></a>
                  {% endfor %}
                  <div class="br-current-rating">{{ app.get_rate() }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-lead">
        <p class="action">
          <a class="btn {% if not c.userobj.sysadmin %}full-width{% endif %}" href="{{ app.external_link }}">{% trans %}Go to Application{% endtrans %}</a>
        {% if c.userobj.sysadmin %}
          <a class="btn" href="{{ h.url_for('apps_app_edit', id=app.id) }}"><i class="fa fa-wrench"></i> Керування</a>
        {% endif %}
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="forum-post-body">
      <div class="app-description">
          {% for line in h.render_markdown(app.content).splitlines() %}
              {{ line }}<br>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}


